/* HamburgerMenu.module.css */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #333;
}

.navLinks {
    list-style: none;
    display: none;
}

.menuIcon {
    display: block;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.navLinks.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .menuIcon {
        display: none;
    }

    .navLinks {
        display: flex !important;
        gap: 20px;
    }
}